{% extends "base.html" %}
{% block title %}chart{% endblock %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>

    #title{
        margin-top:130px;
        margin-bottom:30px;
        text-align:center;
    }

    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin:5px;
    }

    #myChart{
        width:50%;
        max-width:1200px;
        margin:20px auto;
    }

    </style>
{% endblock %}
{% block extrascript %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
{% endblock %}

{% block content %}
<body>
    <h2 id="title"> 아이돌 TOP10 예측 차트</h2>

    {% comment %} {% if latest_list %}
        <ul>
        {% for item in latest_list %}
            <li>{{ item.chart_id }}, {{ item.chart_music }}, {{ item.chart_media }}, {{ item.chart_portal }}, {{ item.chart_total }}, {{ item.chart_date }}, ({{ item.idol_id }} : 이름 {{ item.idol.idol_name }} / 이미지 {{ item.idol.idol_img }})    </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Data</p>
    {% endif %} {% endcomment %}

    <div>
        <canvas id="myChart"></canvas>
    </div>
    <br>
    <br>
    <script> //차트 가로축
        var pointStyle = ['circle','triangle','rect','rectRounded','rectRot','cross','crossRot','star','line','dash']
        // 추후 동적으로 변경
        var MONTHS = ['2018년 1월', '2018년 2월', '2018년 3월', '2018년 4월', '2018년 5월', '2018년 6월', '2018년 7월'];
        var colors = ['#ff6384','#ff6384','#ff9f40','#ffcd56','#4bc0c0','#36a2eb','#9966ff','#c9cbcf','#c0504e','#23bfaa','#468847']
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: MONTHS,
                datasets: [
                    // 루프 생성 필요
                    {% if ord_dict %}
                        {% for key,value in ord_dict.items %}
                        {
                            data: {{ value.total|slice:":7" }},
                            borderWidth: 3,
                            borderColor:colors[{{ key }}],
                            label: '{{ value.name }}',
                            fill: false,
                            pointStyle: pointStyle[{{ key }}],
                            pointRadius: 7,
                            pointHoverRadius: 10,
                        },
                        {% endfor %}
                    {% endif %}
                ]
            },
            options: {
                responsive: true, //차트 크기 수정

                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{ // x축
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{ // y축
                        display: true,
                        ticks: {
                            min: 0,
                            //max: 20000,
                            stepSize: 2000,
                            callback:function(value, index, values){
                                return value;
                            }
                        }
                    }]
                },
            }
        });
        myChart.data.labels = MONTHS
                
        myChart.update();
        var frame_duration = 3000;
        var i=0;
        var month_full_list = {{ month_list|safe|escape }} 
        var labelName = {{ label_list|safe|escape }} 
        d3.interval(
            function(){
                if (i > 10) {
                    this.stop();
                }
                else {
                    for (var j=0; j<10; j++) {
                        myChart.data.datasets[j].label = labelName[j]
                        //myChart.data.datasets[j].data = [1+i, 2+i, 3+i, 4+i, 5+i, 6+i];
                        myChart.data.datasets[j].data = [
                            Math.random()*10000,
                            Math.random()*10000,
                            Math.random()*10000,
                            Math.random()*10000,
                            Math.random()*10000,
                            Math.random()*10000,
                            Math.random()*10000
                        ];
                    }
                    myChart.update();
                }
                i=i+1;
                console.log(i)
            }, 
            frame_duration
        );
        
        /*
        window.onload = function() {
            console.log("onload");
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
            console.log("onload after");
        };*/
    </script>

<!-- <script type="text/javascript"> //스크롤 맨 끝 이벤트
    $(window).scroll(function(){
    if ($(window).scrollTop() != $(document).height() - $(window).height())
    {
        location.href ="chart_rank.html"
    }
    });

</script>
-->
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}